<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <base href="/">
    <script src="tetris/app.js" charset="utf-8"></script>
    <script src="praktyczne/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="tetris/style.css">


    <title>Project</title>
</head>

<body>


    <h1><a href="/">Home</a></h1>
    <br>
    <h1><a href="/tetris">Tetris</a></h1>
    <br>
    <h1><a href="/praktyczne">Praktyczne</a></h1>
    <br>


    <%- body %>


    <br>
    After



</body>

</html>