<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
    <script type="module" src="snake_ove/app.js"></script> 

    
    <title>Snake_ove</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #f0f0f0;
            overflow: hidden;
        }

        canvas {
            background: #fff;
            border: 1px solid #111;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <div>
        <h3><a href="/">Home</a></h1>
            <br>
            <h3><a href="/games">Games</a></h1>
                <br>
                <h3><a href="/praktyczne">Praktyczne </a></h1>
                    <br>
    </div>

    <div> <canvas id="snake" width="625" height="625"></canvas></div>


</body>

</html>