<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h3><a href="/">Home</a></h1>
    <br>
    <h3><a href="/games/tetris">Tetris</a></h1>
    <br>
    <h3><a href="/games/snake">Snake</a></h1>
    <br>
    <h3><a href="/games/snake_ove">Snake_Ove</a></h1>
    <br>
    <h3><a href="/praktyczne">Praktyczne</a></h1>
    <br>
</body>
</html>